// Typography
$base-font-family: 'Saira', 'Veranda', sans-serif;
$heading-font-family: 'Saira', 'Veranda', sans-serif;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 4px;
$button-border-radius: 100px;
$base-spacing: 1.5em;
$small-spacing: 1rem;
$base-z-index: 0;

// Colors
$typography-black: #231F20;
$typography-dark-gray: #717073;
$action-purple: #91278F;
$form-label-gray: #717073;
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $typography-black;
$action-color: $action-purple;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
