$competition-manager-menu-grid: (
  columns: 3,
  gutter: 5px
);

$manager-icon-color: #0089CF;

.competition-status {
  margin-bottom: 2.187rem;
}

.competition-status-value {
  color: #0089CF;
}

.competition-manager-page {
  .competition-management-menu {
    @include grid-container;
    margin-bottom: 2.25rem;

    > li {
      display: inline-block;
      @include grid-column(1, $competition-manager-menu-grid);
      padding-left: 11%;
      padding-right: 5%;
      padding-top: 3.375rem;
      margin-bottom: 5px;
      box-sizing: border-box;
      height: 11.25rem;
      background: white;
      position: relative;

      &:before {
        @include fa-icon();
        font-size: 2.81rem;
        content: $fa-var-calculator;
        position: absolute;
        top: 3.375rem;
        left: 65px;
        color: $manager-icon-color;
      }

      &.advance-round-entry:before {
        content: $fa-var-share;
      }

      &.edit-round-entry:before {
        content: $fa-var-pencil-square-o;
      }

      &.view-leaderboard-entry:before {
        content: $fa-var-list-ol;
      }

      &.view-schedule-entry:before {
        content: $fa-var-calendar;
      }

      &.export-scorecard-entry:before {
        content: $fa-var-file-excel-o;
      }

      &.finish-competition-entry:before {
        content: $fa-var-flag-checkered;
      }

      &.view-teams-entry:before, &.manage-teams-entry:before {
        content: $fa-var-users;
      }

      &.manage-judges-entry:before {
        content: $fa-var-gavel;
      }

      &.begin-competition-entry:before {
        content: $fa-var-rocket;
      }

      &.finish-competition-entry, &.begin-competition-entry {
        @include grid-column(3, $competition-manager-menu-grid);
      }

      &.view-teams-entry, &.manage-teams-entry, &.manage-judges-entry {
        @include grid-column(1.5, $competition-manager-menu-grid);
      }

      > .menu-selection-title {
        font-size: 1.125rem;
        font-weight: 600;
        color: #717073;
        text-decoration: none;

        &:after {
          @include fa-icon;
          content: $fa-var-chevron-right;
          font-size: 0.875rem;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
