div.suggestion-box-bound {
  display: inline-block;
  position: relative;
  padding-bottom: 1.25rem;

  .field-metadata {
    position: absolute;
    left: 0;
    bottom: 0.875rem;
    font-size: 0.875rem;
    color: $typography-dark-gray;
  }

  ul.suggestions {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid black;
    padding: 8px;
    top: 44px;
    z-index: 1;

    > li.active {
      background: $action-color;
    }
  }
}
