#score-entry-container {
  .score-entry-form {
    @include snazzy-form;

    > table {
      margin: 0;

      th {
        color: $typography-dark-gray;
      }

      td:first-child {
        padding: 1.25rem;
      }

      .scoring-cell {
        width: 200px;
      }
    }
  }
}

#schedule-configuration-container {
  h4 {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    color: $typography-dark-gray;
    float: left;
  }

  ul.bye-teams {
    margin-left: 10.125rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .schedule-configuration-form {
    @include snazzy-form;

    .match-row > td {
      vertical-align: middle;
    }

    .match-team {
      display: inline-block;
      width: 364px;
    }

    .judge-type {
      display: inline-block;
      min-width: 80px;
    }

    .match-judge {
      display: inline-block;
      width: 364px;
    }

    > table {
      margin: 0;

      td {
        padding: 1.25rem;
      }

      tr:first-child > td {
        padding: 0 1.25rem 1.25rem 1.25rem;
      }

      .schedule-actions {
        width: 6%;
      }
    }

    .remove-match {
      background: transparent;
      color: $typography-black;
      padding: 0;
      margin: 0;
      width: 29px;
      height: 32px;
      overflow: hidden;
      text-indent: 2px;

      &:before {
        @include fa-icon;
        content: $fa-var-trash;
        font-size: 30px;
      }
    }
  }
}

.match-participants {
  > .matched-teams {
    font-size: 1.375rem;
    color: $typography-dark-gray;
    font-weight: 600;
  }

  > .judges {
    font-size: 1rem;
    color: $typography-black;
  }
}
