@import "bourbon/bourbon";
@import "neat/neat";

// We define a 16 column grid system. At a container size of 1280px w/ 20px gutter
// this will compute to 16 60px columns.
$neat-grid: (
  columns: 16,
  gutter: 20px,
);