body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.competition-card-block {
  position: relative;
}

.competition-card-block .open-competition {
  position: absolute;
  right: 20px;
  top: 15px;
}

.container > .navbar {
  margin-bottom: 20px;
}

.competition-tabs {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;
}

.affiliation {
  display: block;
}
